<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308571982379-l67e3mc4mjbp543bth9velvngvpjdven.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308571982379-l67e3mc4mjbp543bth9velvngvpjdven</string>
	<key>API_KEY</key>
	<string>AIzaSyBZgDLH1-fDZOje2y3oTVz7TMAEwTwTn8A</string>
	<key>GCM_SENDER_ID</key>
	<string>308571982379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.qrtoapp</string>
	<key>PROJECT_ID</key>
	<string>qrtoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>qrtoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308571982379:ios:a8344c54d0a0580ab4b86e</string>
</dict>
</plist>